<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>Brainfuck Macro</string>
    <key>uuid</key>
    <string>A5C3D7E2-4F8B-4A9C-B7E1-3D2F4A5B6C8D</string>
    <key>contactName</key>
    <string>BF Macro Developer</string>
    <key>description</key>
    <string>Syntax highlighting for Brainfuck Macro language with builtin functions</string>
</dict>
</plist>