<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>Brainfuck Macro</string>
    <key>uuid</key>
    <string>B5E5B8C6-6E2E-4E87-9F7A-2A8C3B4D5E6F</string>
    <key>contactName</key>
    <string>BF Macro Developer</string>
    <key>description</key>
    <string>Syntax highlighting for Brainfuck Macro language with builtin functions</string>
</dict>
</plist>